.notify-position{
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 999;
}

/********************************/
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}
.loadMore:hover {
    background-color: #3faef8;
    color: #fff;
}
  
/**********************************/

#application-form{
    z-index: 2000;
}

#applications-details{
    z-index: 9999;
}

.icons{
    font-size: 150%;
}

/*********************** voting stars *****************************/
.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    direction: rtl;
    text-align: left;
  }
  
  .star {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
  }

  .star-small {
    position: relative;
    line-height: 60px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
  }
  .star-small:before {
    content: '\2605';
    width: 20px;
    height: 20px;
    font-size: 25px;
  }
  
  .star:before {
    content: '\2605';
    width: 40px;
    height: 40px;
    font-size: 35px;
  }
  
  .star:hover,
  .star.selected,
  .star:hover ~ .star,
  .star.selected ~ .star{
    transition: color 0.8s ease;
    color: #ea0;
  }
  
  .star-color{
    color: #ea0;
  }
/************************* companies **********************************/

.company-info li{
    padding: 4% 2%;
}